// Custom styles.
.site-author-wrap{-moz-border-radius:100px;-webkit-border-radius:100px;border-radius:100px;}
a :hover{text-decoration: none;};
.container{max-width: 1600px;margin:0 auto;}
.posts-collapse .post-title{border-bottom:0;}
.posts-collapse .post-header{border-bottom:0;}