.site-author-wrap{
width:100px;height:100px;margin:0 auto 5px;overflow: hidden;zoom: 1;-moz-border-radius:100px;-webkit-border-radius:100px;border-radius:100px;box-shadow:1px 1px 2px  inset #ccc;border:1px solid #eee;
}
.site-author-image {
  width:100%;height:auto;
  shadow:1px 1px 2px inset #999;-webkit-box-shadow:1px 1px 2px inset #999;-moz-box-shadow:1px 1px 2px inset #999;
  /*  
  display: block;
  margin: 0 auto;
  padding: $site-author-image-padding;
  max-width: $site-author-image-width;
  height: $site-author-image-height;
 border: $site-author-image-border-width solid $site-author-image-border-color;*/
}

.site-author-name {
  margin: $site-author-name-margin;
  text-align: $site-author-name-align;
  color: $site-author-name-color;
  font-weight: $site-author-name-weight;
}

.site-description {
  margin-top: $site-description-margin-top;
  text-align: $site-description-align;
  font-size: $site-description-font-size;
  color: $site-description-color;
}
