/* yui reset.css version;2.5.2 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#333;}.clear{height:0;font-size:0;line-height:0;clear:both;}select{border:0;}
/* end of reset.css */
html{color:#000;background:#fff;
background:#f7f7f7 url(../images/pinstripe.gif) repeat top left;}
body{
font-size:0.75em;
font-family:"Microsoft YaHei",Verdana,Tahoma,Arial,Helvetica, sans-serif;
color:#444;
}
a{text-decoration:none;color:#444;}
a:hover{color:#ab4f74;}
*:focus{outline: none;}
::-webkit-scrollbar {width: 8px;height: 8px;background-color:#fff;}
::-webkit-scrollbar-track {background-color:#ccc;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
::-webkit-scrollbar-track:hover {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#fefefe;}
::-webkit-scrollbar-track:active {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#f0f0f0;}
::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,0.2);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.2);}
::-webkit-scrollbar-thumb:hover {background-color: rgba(0,0,0,0.4);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-thumb:active {background: rgba(0,0,0,0.6);}


header h1{
	margin:10px 0 0 20px;
	font-size:30px;
	text-transform:uppercase;
	text-shadow:0px 0px 1px #fff;
	font-weight: normal;
	color:#444;
	font-family:arial, serif;
	font-weight: normal;
}
header span{
	/*font-style:italic;*/
	margin:0px 0 10px 156px;
	display:block;
	color:#555;
	text-shadow:1px 1px 1px #fff;
	font-size:14px;
}
header span a{margin: 0 10px;color:#e66517;}
header span a:hover{text-decoration: underline;}

.galleryAbs{width:95%;margin:10px auto;text-align: center;}
.galleryOne{max-width:320px;padding:15px;box-shadow:1px 1px 2px #ccc;-webkit-box-shadow:1px 1px 2px #ccc;-moz-box-shadow:1px 1px 2px #ccc;margin:0 5px 10px;border:1px solid #ddd;background-color: #fff;display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;vertical-align: top;text-align: left;-webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;-o-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;}
.galleryOne:hover{
transform:scale(1.05);-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05);-ms-transform:scale(1.05);
box-shadow:0px 0px 16px #ccc;-webkit-box-shadow:0px 0px 16px #ccc;-moz-box-shadow:0px 0px 16px #ccc;
}
.galleryOne img{width:100%;height:auto;}
.galleryOne .h3-title{font-size:1.33em;padding:1em 0 0.2em;line-height:1.5em;}
.galleryOne .p-date{color:#aaa;}
.galleryOne .p-info{position: relative;line-height:1.8em;margin:0.5em 0;height:7.2em;overflow: hidden;}
.galleryOne .p-info:after{content: " ... ";position: absolute;right:0px;bottom:0;background-color: #fff;color:#aaa;padding:0 1em 0 0.3em;}
.video-gallery .a-gallery{display: block;position: relative;cursor:hand;cursor:pointer;}
.video-gallery .s-player{position: absolute;top:0;left:0;right:0;bottom:45%;background:url(../images/play-button.png) no-repeat center;filter:alpha(opacity=60);opacity:0.6;}
.video-gallery .s-player:hover{filter:alpha(opacity=100);opacity:1;}

@media screen and (max-width:700px) {
.galleryOne{width:45%;padding:1%;margin:0 0.6% 10px;}
}
@media (min-width: 700px) and (max-width: 1000px){
.galleryOne{width:28%;padding:1%;margin:0 0.6% 10px;}
}
@media (min-width: 1000px) and (max-width: 1200px){
.galleryOne{width:20%;padding:1%;}
}

/* Footer Style */
.footer{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	font-size:13px;
	background:#000;
	opacity:0.9;
	height:20px;
	padding-bottom:5px;
	text-transform:uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	z-index:4;
}
.footer a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	float:right;
}
.footer a:hover{
	color:#fff;
}
.footer a span{
	font-weight:bold;
}
.footer a.left{
	float:left;
}