/* yui reset.css version;2.5.2 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#333;}.clear{height:0;font-size:0;line-height:0;clear:both;}select{border:0;}
/* end of reset.css */
html{color:#000;background:#fff;
background:#f7f7f7 url(../images/pinstripe.gif) repeat top left;}
body{
font-size:0.75em;
font-family:"Microsoft YaHei",Verdana,Tahoma,Arial,Helvetica, sans-serif;
color:#444;
}
a{text-decoration:none;color:#444;}
a:hover{color:#e66517;}
*:focus{outline: none;}
::-webkit-scrollbar {width: 8px;height: 8px;background-color:#fff;}
::-webkit-scrollbar-track {background-color:#ccc;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
::-webkit-scrollbar-track:hover {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#fefefe;}
::-webkit-scrollbar-track:active {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#f0f0f0;}
::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,0.2);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.2);}
::-webkit-scrollbar-thumb:hover {background-color: rgba(0,0,0,0.4);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-thumb:active {background: rgba(0,0,0,0.6);}

header{position: absolute;left:0px;bottom:0;top:0;background-color: #2a2d33;width:280px;padding:5em 15px 0 20px;font-size:1.18em;color:#fff;}
h1{font-size:1.7em;color:#45abe8;font-weight: normal;}
header span{
	/*font-style:italic;*/
	margin:0px 0 10px 156px;
	display:block;
	color:#555;
	text-shadow:1px 1px 1px #fff;
	font-size:14px;
}
.p-date{color: #999;padding:1.2em 0;}
.p-info{line-height:1.8em;}
.p-back{text-align: right;padding:3em 0.2em 0;}
a.a-back{margin: 0 10px;color:#e66517;font-size:1.25em;}
a.a-back:hover{text-decoration: underline;}
.galleryWrapper{position: absolute;top:10px;left:340px;right:20px;bottom:20px;overflow: auto;}

@media screen and (max-width:1260px) {
header{position: relative;padding:2em;width:auto;}
.galleryWrapper{position: relative;top:0;left:0;right:0;bottom:0;padding:2em;}
}


.iw_thumbs a{
	float:left;
	margin:5px;
}

.iw_thumbs a:nth-child(1){
	margin-left:50px;
}
.iw_thumbs a:nth-child(even){
	margin-top:30px;
}
.iw_thumbs a:nth-child(3n){
	margin-left:20px;
}
.iw_thumbs a img{
	border:7px solid #fff;
	cursor:pointer;
	position:relative;
	-moz-box-shadow:1px 1px 1px #aaa;
	-webkit-box-shadow:1px 1px 1px #aaa;
	box-shadow:1px 1px 1px #aaa;
	width: auto;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);
    -webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;-o-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;
}

.iw_thumbs a:nth-child(even) img{
	height:70px;
}
.iw_thumbs a:nth-child(odd) img{
	height:90px;
}
.iw_thumbs a:nth-child(5n) img{
	transform:rotate(2deg);    -webkit-transform:rotate(2deg);    -moz-transform:rotate(2deg);    -o-transform:rotate(2deg);    -ms-transform:rotate(2deg);
	height:100px;
}
.iw_thumbs a:nth-child(6n) img{
	height:160px;
	transform:rotate(-3deg);    -webkit-transform:rotate(-3deg);    -moz-transform:rotate(-3deg);    -o-transform:rotate(-3deg);    -ms-transform:rotate(-3deg);
}
.iw_thumbs a:nth-child(7n) img{
	transform:rotate(4deg);    -webkit-transform:rotate(4deg);    -moz-transform:rotate(4deg);    -o-transform:rotate(4deg);    -ms-transform:rotate(4deg);
	height:50px;
}
.iw_thumbs a img:hover{
	-moz-box-shadow:1px 1px 12px #999;
	-webkit-box-shadow:1px 1px 12px #999;
	box-shadow:1px 1px 12px #999;
	z-index:999;
	transform:scale(1.2);    -webkit-transform:scale(1.4);    -moz-transform:scale(1.4);    -o-transform:scale(1.4);    -ms-transform:scale(1.4);
	transform:rotate(0deg);    -webkit-transform:rotate(0deg);    -moz-transform:rotate(0deg);    -o-transform:rotate(0deg);    -ms-transform:rotate(0deg);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
/* Footer Style */
.footer{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	font-size:13px;
	background:#000;
	opacity:0.9;
	height:20px;
	padding-bottom:5px;
	text-transform:uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	z-index:4;
}
.footer a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	float:right;
}
.footer a:hover{
	color:#fff;
}
.footer a span{
	font-weight:bold;
}
.footer a.left{
	float:left;
}