h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
    line-height: 1.4;
    cursor: text;
}
h1 {
    padding:0.2em 0 0.3em 0.2em;
    font-size: 2em;
    line-height: 1.3;
    color:#7D38DC;
    border-bottom: 1px solid #e8e1fb;
}
h2,.post-body h2 {
    padding:0.2em 0 0.3em 0.2em;
    font-size: 1.67em;
    line-height: 1.3;
    color:#268BF0;
    border-bottom: 1px solid #e4e8f7;
}
h3 {
    padding:0.2em 0 0.5em 0.2em;
    font-size: 1.17em;
    line-height: 1.3;
    color:#ea40c3;
}
h4 {
    font-size: 1.17em;
}
h5 {
    font-size: 1em;
}
h6 {
   font-size: 1em;
    color: #777;
}

a {
color: #de3a84;
text-decoration: none;
border-bottom: 1px dotted #de3a84;
-webkit-transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;-o-transition:all 0.4s ease-in-out 0s;transition:all 0.4s ease-in-out 0s;
}
a :hover{}
.site-meta{background-color:#414980;}
code{background-color: #f6f6f6;color:#ad659d;padding:0 6px;display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;border:1px solid #eee;}
blockquote {
    border-left: 4px solid #1aa8e8;
    padding: 12px 15px 9px;
    background-color:#f0f8ff;
    color:#5d739c;
    -moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;
    box-shadow:1px 1px 1px #ddd inset;-webkit-box-shadow:1px 1px 1px #ddd inset;-moz-box-shadow:1px 1px 1px #ddd inset;
}
blockquote:hover{
    border-left-color:#a977c1;
    background-color:#f7f4f9;
    color:#8f6eb9;
}
p{margin:6px 0 14px;}
strong{color:#1445a0;}
ul,
ol {
    padding:9px 10px 12px 30px;
    background-color: #f6f6ff;
    -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
}
.sidebar-inner ul,.sidebar-inner ol{background-color: #fff;}

pre .ruby .class .title, pre .css .rules .attribute, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata, pre .special, pre .number, pre .formula{color:#dc2323}
pre .keyword, pre .javascript .function{color:#9e0cfd;}
.headband{height:10px;background-color:#eee;}
.site-nav #menu{background-color: #fff;padding:0;margin:4px 0;}
.menu .menu-item a{margin-bottom: 2px;}
.menu .menu-item a:hover, .menu-item-active a{background-color:#f0f2ff;color:#ab0f0f;}
.sidebar-inner,.header-inner,
#posts > article + article .post-block,.post-block{box-shadow:1px 1px 2px #ccc;-webkit-box-shadow:1px 1px 2px #ccc;-moz-box-shadow:1px 1px 2px #ccc;}

a.btn{border:1px solid #efa2bf;color:#de3a84;}
a.btn:hover{background-color:#de3a84;border:1px solid #de3a84;color:#fff;}